@import '../../scss/main.scss';

.bg-contact {
    position: relative;

    img {
        width: 100%;
        height: 620px;
        object-fit: cover;
    }
}

.contact-btn {
    position: absolute;
    top: 87%;

    button {
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        padding: 20px 32px;
        background-color: #ffffffb3;
        color: var(--theme-title-text-color);
        border: none;
    }
}

.interest {
    padding: 80px 0;

    h3 {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        color: #373f41;
        text-align: center;
    }
}

.main-register {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 114px;

    .Schedule {
        margin: 80px 0;

        span {
            display: block;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #373F41;
            padding: 0 0 6px 0;
        }

        .Schedule-line {
            background-color: #b8882c;
            width: 40px;
            height: 3px;
        }

        .united {
            display: grid;
            grid-template-columns: 51px 1fr;
            gap: 24px;
            align-items: center;
            padding: 24px 0;
            border-bottom: 1px solid #D6D6D6;

            .united-icon {
                background-color: #F5F5F5;
                width: 51px;
                height: 51px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 25px;
                }
            }

            .united-text {
                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--theme-text-color);
                    line-height: 24px;
                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #0000EE;
                }
            }
        }
    }

    .below {
        margin: 80px 0;

        span {
            display: block;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #373F41;
            padding: 0 0 6px 0;
        }

        .below-line {
            background-color: #b8882c;
            width: 40px;
            height: 3px;
        }
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 12px;
        margin: 32px 0 24px 0;

        .form1 {
            label {
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                color: var(--theme-text-gray-color);
                display: block;
            }

            input {
                border: 1px solid #D4D5E6;
                background-color: transparent;
                color: var(--theme-title-text-color);
                width: 100%;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                border-radius: 4px;
                padding: 10px 16px;
            }

            select {
                width: 100%;
                border: 1px solid #D4D5E6;
                background-color: transparent;
                color: var(--theme-title-text-color);
                border-radius: 4px;
                padding: 10px 16px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
            }
        }
    }

    .main-broker {
        display: flex;
        padding: 0 0 32px 0;
        align-items: center;
        gap: 60px;

        .broker-text {
            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--theme-text-color);
                display: block;
            }
        }

        .broker-btn {
            display: flex;
            align-items: center;
            gap: 34px;

            .radio-btn {
                display: flex;
                align-items: center;
                gap: 10px;

                input {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    padding: 0;
                }

                label {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: var(--theme-text-color);
                }
            }
        }
    }
}

.form-btn {
    button {
        @include button;
        color: var(--theme-button-text-color);
        padding: 13px 24px;
        font-size: 16px;
        font-weight: 600;

    }
}

@media(max-width:768px) {
    .bg-contact {
        position: relative;

        img {
            width: 100%;
            height: 183px;
            object-fit: cover;
        }
    }

    .contact-btn {
        position: absolute;
        top: 55%;
        left: 3%;
    }

    .interest {
        padding: 60px 0 20px 0;
    }

    .main-register {
        display: block;

        .Schedule {
            margin: 0;
            padding: 0 20px;

            span {
                text-align: center;
                display: block;
            }
        }

        .Schedule-line {
            background-color: #b8882c;
            width: 40px;
            height: 3px;
            position: absolute;
            left: 47%;
        }

        .below {
            margin: 0;
            padding: 40px 20px;

            span {
                text-align: center;
                display: block;
            }
        }

        .below-line {
            background-color: #b8882c;
            width: 40px;
            height: 3px;
            position: absolute;
            left: 47%;
        }
    }

    .form-btn {
        button {
            width: 100%;
        }
    }
}

@media(max-width:576px) {
    .bg-contact {
        .contact-btn {
            position: absolute;
            top: 56%;
            left: 20%;

            button {
                font-size: 36px;
                font-weight: 600;
                line-height: 40px;
            }
        }
    }

    .interest {
        h3 {
            font-size: 28px;
            line-height: 38px;
            padding: 0 20px;
        }
    }

    .below {
        .form {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
            margin: 32px 0 24px 0;
        }
    }
}