:root{
    --default-font-family:"Lato", sans-serif;
    --theme-header-black-text-color: #000000;
    --theme-button-text-color:#fff;
    --theme-button-background-color:#000000;
    --theme-title-text-color:#000;
    --theme-text-color:#333333;
    --theme-text-gray-color:#666666; 
    --theme-bg-background-color:rgba(60, 100, 177, 0.08);
    --theme-line-background-color:#B8882C;
}